<ion-header>
	<ion-toolbar color="dark">
		<ion-title>Episodes</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>

		<ion-card *ngFor="let episode of episodes | async" (click)="openDetails(episode)">
			<ion-item>
				<ion-label>Episode: {{ episode.title}}</ion-label>              
				<ion-icon name="chevron-forward-circle" size="small" slot="end" color="medium"></ion-icon>
			</ion-item>

			<ion-card-content>S{{ episode.season }} EP{{ episode.episode }}</ion-card-content>
		</ion-card>

	</ion-list>
</ion-content>