<ion-header>
	<ion-toolbar color="dark">
		<ion-title>Characters</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let character of characters" (click)="openDetails(character)">
			<ion-label>
				<h2>{{ character.name }}</h2>				
			</ion-label>
            <ion-avatar slot="end">
				<img src="{{ character.img }}">
            </ion-avatar>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll threshold="100%" id="infinite-scroll" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content loading-spinner="crescent" loading-text="Loading...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>