<ion-header>
	<ion-toolbar color="dark">
		<ion-title>Quotes</ion-title>
	</ion-toolbar>
	<ion-toolbar color="dark">
		<ion-searchbar [(ngModel)]="author" (ionChange)="searchByAuthor($event)" placeholder="Search by Author">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>

		<ion-card *ngFor="let quote of quotes | async" (click)="openDetails(quote)">
			<ion-item>				
				By: {{ quote.author }}
				<ion-icon name="chevron-forward-circle" size="small" color="medium" slot="end"></ion-icon>
			</ion-item>

			<ion-card-content>
				{{ quote.quote }}
			</ion-card-content>
		</ion-card>

	</ion-list>
</ion-content>